html{
    background-color: black;
}

h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

img{
    border: white solid 5px;
    align-content: center;
    width: 100%;
}
p{
    color: white;
    text-align: center;
    font-size: 12pt;
    
}

div{
    width: 50%;
    margin-left: 25%;
}